@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
}

.header-section {
  position: fixed;
  width: 3rem;
  height: 100%;
  background-color: #081969;
  text-align: center;
  z-index: 10;
}
.header-section .hamburger-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.3rem;
  position: absolute;
  left: 0.5rem;
  top: 2rem;
}
.header-section .hamburger-menu input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.header-section .hamburger-menu::before, .header-section .hamburger-menu::after, .header-section .hamburger-menu input {
  content: "";
  width: 2rem;
  height: 0.2rem;
  border-radius: 1rem;
  -webkit-transform-origin: left center;
          transform-origin: left center;
  -webkit-transition: opacity 300ms ease-in-out, width 300ms ease-in-out, rotate 300ms ease-in-out, translate 300ms ease-in-out, back-ground 300ms ease-in-out;
  transition: opacity 300ms ease-in-out, width 300ms ease-in-out, rotate 300ms ease-in-out, translate 300ms ease-in-out, back-ground 300ms ease-in-out;
  z-index: 11;
  background-color: white;
}
.header-section .hamburger-menu:has(input:checked)::before {
  rotate: 45deg;
  width: 1.6970562748rem;
  translate: 0 -0.1rem;
}
.header-section .hamburger-menu:has(input:checked)::after {
  rotate: -45deg;
  width: 1.6970562748rem;
  translate: 0 0.1rem;
}
.header-section .hamburger-menu input:checked {
  opacity: 0;
  width: 0;
}
.header-section .hamburger-menu:has(input:checked) + .sidebar {
  translate: 0;
}
.header-section .sidebar {
  padding-top: 3.24rem;
  padding-left: 1rem;
  background-color: #081969;
  color: white;
  width: 9rem;
  min-height: 100vh;
  translate: -200%;
  -webkit-transition: translate 300ms ease-in-out;
  transition: translate 300ms ease-in-out;
  position: absolute;
}
.header-section .sidebar nav a {
  margin-top: 0.8rem;
  text-align: left;
  display: block;
  text-decoration: none;
  color: #f3f5fe;
}
.header-section .icon-bottom {
  position: absolute;
  left: 0.2rem;
  bottom: 2rem;
}
.header-section .icon-bottom i {
  color: #f3f5fe;
  font-size: 1.6rem;
  margin-top: 1.5rem;
  cursor: pointer;
}

.main-section {
  height: 102vh;
  background: linear-gradient(122deg, #03071A 49.37%, #0C195E 82.36%, #00168A 94.47%);
}
.main-section .header .box-logo .logo {
  width: 90px;
}
.main-section .header .box-logo h2 {
  font-size: 1.6rem;
}
.main-section .header .btn-call {
  text-align: right;
  border-radius: 3rem;
  color: #f3f5fe;
}
.main-section .header .btn-call:hover {
  color: #001a8c;
}
@media (max-width: 767px) {
  .main-section .header .box-logo h2 {
    font-size: 1.3rem;
  }
}
@media (max-width: 490px) {
  .main-section .header .box-logo .logo {
    width: 60px;
  }
  .main-section .header .box-logo h2 {
    font-size: 1.1rem;
  }
}
.main-section .main-section-box {
  height: 100vh;
}
.main-section .main-section-box .box-1 {
  margin-top: 1rem;
}
.main-section .main-section-box .box-1 h1 {
  font-size: 3rem;
}
.main-section .main-section-box .box-1 p {
  font-size: 1.4rem;
}
.main-section .main-section-box .box-1 .btn-start {
  border-radius: 3rem;
  font-size: 1.1rem;
}
.main-section .main-section-box .box-2 {
  margin-top: 1rem;
  text-align: center;
}
.main-section .main-section-box .box-2 img {
  width: 80%;
}
@media (max-width: 1600px) {
  .main-section .main-section-box .box-1 h1 {
    margin-top: 7rem;
  }
}
@media (max-width: 1200px) {
  .main-section .main-section-box .box-1 {
    margin-top: 5rem;
  }
  .main-section .main-section-box .box-1 h1 {
    font-size: 2.5rem;
  }
  .main-section .main-section-box .box-1 p {
    font-size: 1.2rem;
  }
  .main-section .main-section-box .box-1 .btn-start {
    font-size: 1rem;
  }
  .main-section .main-section-box .box-2 {
    margin-top: 5rem;
  }
}
@media (max-width: 980px) {
  .main-section .main-section-box .box-1 h1 {
    font-size: 2.2rem;
  }
}
@media (max-width: 850px) {
  .main-section .main-section-box .box-1 h1 {
    font-size: 2rem;
  }
}
@media (max-width: 767px) {
  .main-section .main-section-box .box-1 {
    text-align: center;
    margin-top: 0rem;
  }
  .main-section .main-section-box .box-1 h1 {
    font-size: 2rem;
  }
  .main-section .main-section-box .box-1 p {
    font-size: 1.1rem;
  }
  .main-section .main-section-box .box-1 .btn-start {
    font-size: 1rem;
  }
  .main-section .main-section-box .box-2 {
    margin-top: 0rem;
    text-align: center;
  }
  .main-section .main-section-box .box-2 img {
    width: 45%;
    margin-top: 0;
  }
}
@media (max-width: 685px) {
  .main-section .main-section-box .box-1 h1 {
    font-size: 1.7rem;
  }
  .main-section .main-section-box .box-1 p {
    font-size: 1.1rem;
  }
  .main-section .main-section-box .box-1 .btn-start {
    font-size: 1rem;
  }
}
@media (max-width: 499px) {
  .main-section .main-section-box .box-1 {
    margin-top: 1rem;
  }
}

@media (max-height: 550px) {
  .main-section {
    height: 152vh;
  }
}
.our-projects {
  overflow: hidden;
}
.our-projects h2 {
  color: #03071A;
  font-size: 3.3rem;
  padding: 3.5rem;
  text-align: center;
}
@media (max-width: 1200px) {
  .our-projects h2 {
    font-size: 3rem;
  }
}
@media (max-width: 1100px) {
  .our-projects h2 {
    font-size: 2.8rem;
  }
}
@media (max-width: 1000px) {
  .our-projects h2 {
    font-size: 2.5rem;
  }
}
@media (max-width: 800px) {
  .our-projects h2 {
    font-size: 2.3rem;
  }
}
@media (max-width: 600px) {
  .our-projects h2 {
    font-size: 2rem;
  }
}
.our-projects .projectBox1 {
  margin-left: -250px;
  display: grid;
  grid-auto-flow: column;
}
.our-projects .projectBox1 img {
  height: 250px;
  margin: 2rem;
  border-radius: 1rem;
  -webkit-box-shadow: 0.1rem 0.1rem 0.5rem #03071A;
          box-shadow: 0.1rem 0.1rem 0.5rem #03071A;
}
.our-projects .projectBox2 {
  direction: rtl;
  margin-right: -200px;
  display: grid;
  grid-auto-flow: column;
}
.our-projects .projectBox2 img {
  height: 250px;
  margin: 2rem;
  border-radius: 1rem;
  -webkit-box-shadow: 0.1rem 0.1rem 0.5rem #03071A;
          box-shadow: 0.1rem 0.1rem 0.5rem #03071A;
}

.products {
  background: #03071A;
  height: 120vh;
}
.products h2 {
  color: #03071A;
  font-size: 3.3rem;
  padding: 3.5rem;
  text-align: center;
  color: #f3f5fe;
}
@media (max-width: 1200px) {
  .products h2 {
    font-size: 3rem;
  }
}
@media (max-width: 1100px) {
  .products h2 {
    font-size: 2.8rem;
  }
}
@media (max-width: 1000px) {
  .products h2 {
    font-size: 2.5rem;
  }
}
@media (max-width: 800px) {
  .products h2 {
    font-size: 2.3rem;
  }
}
@media (max-width: 600px) {
  .products h2 {
    font-size: 2rem;
  }
}
.products .show-products {
  display: grid;
  grid-auto-flow: column;
  overflow-x: auto;
}
.products .show-products .product {
  width: 23rem;
  height: 35rem;
  border: #f3f5fe 2px solid;
  margin: 1rem 2.3rem;
  color: #f3f5fe;
  border-radius: 1rem;
  padding: 0.5rem;
  overflow: hidden;
}
.products .show-products .product h3 {
  color: #f3f5fe;
  text-align: center;
  padding: 1.3rem;
}
.products .show-products .product h4 {
  text-align: center;
  padding: 1rem;
}
.products .show-products .product .button {
  text-align: center;
  margin: 0.8rem;
}
.products .show-products .product .button .btn-order {
  padding: 0.6rem;
  border: 2px solid #f3f5fe;
  border-radius: 1.2rem;
  text-decoration: none;
  color: #f3f5fe;
}
.products .show-products .product .product-info {
  margin: 1rem 0.5rem 0.5rem;
  width: 100%;
  height: 100%;
  display: grid;
  grid-auto-flow: row;
  overflow-y: auto;
  padding: 1.5rem 3rem;
}
.products .show-products .product:hover {
  color: #03071A;
  background: #f3f5fe;
}
.products .show-products .product:hover h3 {
  color: #03071A;
}
.products .show-products .product:hover .btn-order {
  background-color: #001a8c;
  border: 2px solid #001a8c;
}
.products .show-products .product:hover .btn-order:hover {
  background-color: #f3f5fe;
  border: 2px solid #001a8c;
  color: #001a8c;
  text-shadow: 0.1rem 0.1rem 0.6rem #03071A;
}
@media (max-width: 490px) {
  .products .show-products .product {
    width: 18rem;
    height: 34rem;
    margin: 1rem 1.7rem;
  }
}

@media (max-height: 700px) {
  .products {
    height: 140vh;
  }
}
@media (max-height: 600px) {
  .products {
    height: 160vh;
  }
}
@media (max-height: 510px) {
  .products {
    height: 200vh;
  }
}
@media (max-height: 410px) {
  .products {
    height: 250vh;
  }
}
@media (max-height: 340px) {
  .products {
    height: 300vh;
  }
}
.askQuestions {
  background-color: #f3f5fe;
  padding: 2rem 1rem;
  margin-left: 2rem;
}
.askQuestions .questionsTitle {
  padding-top: 18%;
  padding-bottom: 20%;
}
.askQuestions .questionsTitle h2 {
  color: #03071A;
  font-size: 4rem;
}
.askQuestions .questions {
  padding-top: 15%;
  padding-bottom: 5%;
}
.askQuestions .questions .card button {
  color: #03071A;
  text-decoration: none;
}
@media (max-width: 1200px) {
  .askQuestions .questionsTitle h2 {
    font-size: 3rem;
  }
}
@media (max-width: 950px) {
  .askQuestions .questionsTitle h2 {
    font-size: 2.3rem;
  }
}
@media (max-width: 900px) {
  .askQuestions .questionsTitle {
    padding-top: 25%;
  }
}
@media (max-width: 767px) {
  .askQuestions .questionsTitle {
    padding-top: 0;
    padding-bottom: 0;
  }
  .askQuestions .questionsTitle h2 {
    font-size: 2.8rem;
    text-align: center;
  }
  .askQuestions .questions {
    padding-top: 0;
  }
}
@media (max-width: 767px) {
  .askQuestions .questionsTitle h2 {
    font-size: 2.3rem;
  }
  .askQuestions .card {
    margin-left: 2rem;
  }
  .askQuestions .card .card-header {
    padding-left: 0;
    padding-right: 0;
  }
  .askQuestions .card button {
    font-size: 0.9rem;
  }
}
@media (max-width: 575px) {
  .askQuestions .questionsTitle h2 {
    font-size: 2rem;
  }
}

@media (max-width: 490px) {
  .questions-section {
    display: none;
  }
}
.message {
  background-color: #03071A;
  padding: 6rem 0;
  text-align: center;
}
.message .messageTitle h2 {
  padding-top: 3rem;
  font-size: 3.6rem;
}
.message .form form .input {
  color: #f3f5fe;
  padding: 1rem;
  margin: 0.5rem;
  background: #1d1d1e;
  border-radius: 0.5rem;
}
.message .form form .border {
  border: 1px solid #F8F7FF;
}
.message .form form #email {
  width: 35%;
}
.message .form form #phone {
  width: 35%;
}
.message .form form #submit {
  background: #081969;
  padding: 1rem 4rem;
  border: 1px solid #f3f5fe;
  border-radius: 1.2rem;
  text-decoration: none;
  color: #f3f5fe;
  margin-top: 1rem;
  font-size: 1.1rem;
}
.message .form form #submit:hover {
  background: #f3f5fe;
  color: #081969;
  cursor: pointer;
}
.message .error {
  border: 1px solid rgb(255, 0, 0);
}
.message .success {
  border: 1px solid rgb(0, 128, 0);
}
@media (max-width: 1250px) {
  .message .messageTitle h2 {
    font-size: 3.2rem;
  }
}
@media (max-width: 1100px) {
  .message .messageTitle h2 {
    font-size: 3rem;
  }
}
@media (max-width: 980px) {
  .message .messageTitle h2 {
    font-size: 2.8rem;
  }
}
@media (max-width: 880px) {
  .message .messageTitle h2 {
    font-size: 2.4rem;
    padding-bottom: 3rem;
  }
}
@media (max-width: 730px) {
  .message .messageTitle h2 {
    font-size: 2rem;
    padding-bottom: 3rem;
  }
}
@media (max-width: 600px) {
  .message .messageTitle h2 {
    font-size: 1.6rem;
    padding-bottom: 3rem;
  }
}
@media (max-width: 530px) {
  .message .messageTitle h2 {
    font-size: 1.5rem;
    padding-bottom: 3rem;
    padding-left: 1.5rem;
  }
  .message .form form {
    margin-left: 1.4rem;
  }
}

.chatbot {
  width: 25rem;
  position: fixed;
  right: 2rem;
  bottom: 5.5rem;
  background-color: #f3f5fe;
  border-radius: 1rem;
  border: 1px solid #03071A;
  -webkit-box-shadow: 0.1rem 0.1rem 0.8rem #03071A;
          box-shadow: 0.1rem 0.1rem 0.8rem #03071A;
  overflow: hidden;
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  pointer-events: none;
  opacity: 0;
  overflow: hidden;
}
.chatbot header {
  background-color: #081969;
  color: #f3f5fe;
  padding: 1rem;
  position: relative;
}
.chatbot header h2 {
  font-size: 1.3rem;
}
.chatbot header i {
  position: absolute;
  right: 1rem;
  top: 40%;
  font-size: 1.2rem;
  cursor: pointer;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: none;
}
.chatbot .chatbox {
  overflow-y: auto;
  padding: 1rem;
  height: 25rem;
}
.chatbot .chatbox .chat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}
.chatbot .chatbox .chat p {
  color: #f3f5fe;
  background-color: #081969;
  padding: 0.7rem;
  font-size: 0.95rem;
  max-width: 75%;
}
.chatbot .chatbox .incoming i {
  padding: 1.2rem 0.5rem;
  font-size: 1.2rem;
  -ms-flex-item-align: end;
      align-self: flex-end;
  color: #081969;
}
.chatbot .chatbox .incoming p {
  color: #081969;
  background-color: #e4e8fb;
  border-radius: 0.5rem 0.5rem 0.5rem 0;
}
.chatbot .chatbox .outgoing {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.chatbot .chatbox .outgoing p {
  border-radius: 0.5rem 0.5rem 0 0.5rem;
}
.chatbot .chat-input {
  position: absolute;
  bottom: 0;
  padding: 0.4rem 1rem;
  width: 100%;
  border-top: 1px solid #081969;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
  background-color: #f3f5fe;
}
.chatbot .chat-input #message {
  width: 100%;
  height: 3.5rem;
  border: none;
  outline: none;
  padding: 1rem 0.3rem;
  font-size: 0.95rem;
  background-color: #f3f5fe;
  resize: none;
}
.chatbot .chat-input #send-btn {
  font-size: 1.2rem;
  -ms-flex-item-align: center;
      align-self: center;
  color: #081969;
  cursor: pointer;
  visibility: hidden;
}
.chatbot .chat-input #message:valid ~ #send-btn {
  visibility: visible;
}

@media (max-width: 490px) {
  .chatbot {
    right: 0;
    bottom: 0;
    width: 90%;
    height: 100%;
    z-index: 1;
    border-radius: 0;
  }
  .chatbot header i {
    display: block;
  }
  .chatbot .chatbox {
    height: 90%;
  }
}
.show-chatbot .chatbot {
  -webkit-transform: scale(1);
          transform: scale(1);
  pointer-events: auto;
  opacity: 1;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.chatbot-toggler {
  position: fixed;
  border: none;
  background-color: #081969;
  color: #f3f5fe;
  width: 3.3rem;
  height: 3.3rem;
  right: 2rem;
  bottom: 2rem;
  border-radius: 50%;
  border: 1px solid #f3f5fe;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem;
}
.chatbot-toggler i {
  position: absolute;
  font-size: 1.3rem;
}
.chatbot-toggler i:last-child {
  opacity: 0;
}

.show-chatbot .chatbot-toggler i:last-child {
  opacity: 1;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
.show-chatbot .chatbot-toggler i:first-child {
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.footer {
  background-color: #03071A;
}
.footer .footer-top {
  color: #f3f5fe;
  padding: 0 2rem 2rem;
}
.footer .footer-top .box {
  padding: 2rem;
}
.footer .footer-top .box a {
  display: block;
  padding: 0.3rem;
  text-decoration: none;
  color: #f3f5fe;
}
@media (max-width: 940px) {
  .footer .footer-top .boxLogo {
    display: none;
  }
}
.footer .footer-bottom {
  border-top: 1px solid #f3f5fe;
  padding: 1rem;
}
.footer .footer-bottom h6 {
  color: #f3f5fe;
  text-align: center;
}