@import "base";

// * Header
.main-section-about{
        height: 80vh;
        background: linear-gradient(122deg, #03071A 49.37%, #0C195E 82.36%, #00168A 94.47%);
    
    }
// * End Header

// * About us
.aboutUS{
   .box-1{
    padding:2rem 2rem 1rem;
   }
   .box-2{
    padding:1rem 2rem 2rem;
   }
}
// * End About us